In [ ]:
import pandas as pd
import uuid
import os

In [ ]:
os.getcwd()

In [ ]:
class Player(Base):
    __tablename__ = "players"

    rating = Column(Float, nullable=True)
    games_played = Column(Integer, nullable=True)
    games_won = Column(Integer, nullable=True)
    # created_at = Column(DateTime, nullable=False, default=func.current_timestamp())

In [ ]:
class Match(Base):
    __tablename__ = "matches"

    id = Column(Integer, primary_key=True, index=True)
    player1_id = Column(
        Integer, ForeignKey("players.id", ondelete="CASCADE"), nullable=False
    )
    player2_id = Column(
        Integer, ForeignKey("players.id", ondelete="CASCADE"), nullable=False
    )
    player1_score = Column(Integer, nullable=False)
    player2_score = Column(Integer, nullable=False)
    date_played = Column(DateTime, nullable=False, default=func.current_timestamp())

In [ ]:
one_player = {
    "id": [str(uuid.uuid4()), str(uuid.uuid4())],
    "name": ["Ugo", "Flo"],
    "rating": [0, 0],
    "games_played": [0, 0],
    "games_won": [0, 0],
}
one_playerss = {
    "name": "Ugo",
    "rating": 0,
    "games_played": 0,
    "games_won": 0,
}

In [ ]:
test = pd.DataFrame.from_dict(one_player)

In [ ]:
test.iloc[len(test) - 1] = one_playerss

In [ ]:
test = test.set_index("id")

In [ ]:
test.loc["bbb"] = one_playerss

In [ ]:
test.reset_index().to_dict(orient="records")

In [ ]:
match = {
    "id": [str(uuid.uuid4())],
    "player1_id": ["dc346ec0-4fab-4871-b1b9-4170aa9374c9"],
    "player2_id": ["980b2c55-446e-4a9c-b0fe-d263fa190167"],
    "player1_score": [14],
    "player2_score": [12],
}

In [ ]:
pd.DataFrame.from_dict(match).to_csv("matchs.csv")